<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Django Level Two</title>
		<link rel="stylesheet" href="{% static "css/mystyle.css" %}">

	</head>
	<body>
		<div class="djangtwo">
			{% if access_records %}
			<table>
				<thead>
					<th>Site Name</th>
					<th>Date Accessed</th>
				</thead>
				{% for acc in access_records %}
			<tr>
				<td>{{ acc.name }}</td>
				<td>{{ acc.date }}</td>
			</tr>
			{% endfor %}
			</table>
			{% else %}
				<p>NO ACCESS RECORDS FOUND!</p>
			{% endif %}
		</div>
	</body>
</html>